{% extends '_base.html' %}

{% load staticfiles %}

{% block body %}

<div class="page-header">
	<h1></h1>
</div>

<div class="col-md-3">
	<div class="well">
		<div class="row">
			<div class="col-md-5">
		      	<img class="img-rounded" src="{% static 'avatar/0.png' %}" alt="avatar">
		  	</div>
		  	<div class="col-md-7">
		    	<h4>{{ request.user.first_name }} {{ request.user.last_name }}</h4>
		    	<a href="{% url "PyTweetApp.views.profil" user.username %}">@{{ request.user.username }}</a><br/><br/>
		  	</div>
		</div>
	</div>
</div>

<div class="col-md-9">
	<div class="list-group">
		<a href="#" class="list-group-item active">
			Tweets
		</a>
		{% for tweet in tweets %}
		<div class="list-group-item">
			<div class="row">
				<div class="col-md-2">
					<img class="img-rounded" src="{% static 'avatar/0.png' %}" alt="avatar">
				</div>
				<div class="col-md-10">
					<a href="{% url "PyTweetApp.views.profil" tweet.author.username %}"><strong>@{{ tweet.author.username }}</strong></a> - <em>{{ tweet.date }}</em>
					<p>{{ tweet.text }}</p>
				</div>
			</div>
	    </div>
	    {% empty %}
	    <div class="list-group-item">
			<div class="row">
				<div class="col-md-10">
					<p>Aucun tweets trouvés</p>
				</div>
			</div>
	    </div>
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block modal %}
<div class="modal fade" id="new-tweet" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="post" action="{% url "PyTweetApp.views.tweetline" %}">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="modal-label"><span class="glyphicon glyphicon-send"></span> Écrire un tweet</h4>
				</div>
				<div class="modal-body">
					{% csrf_token %}
					{{ form.as_p }}
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-send"></span> Tweeter</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}

{% block javascript %}
	<script src="{% static 'javascript/tweet-line.js' %}"></script>
{% endblock %}