{% extends '_base.html' %}

{% block body %}

<div class="page-header">
	<h1>Bienvenue sur PyTweet !</h1>
</div>

<div class="well">
	<fieldset>
		<legend>Se connecter</legend>
		{% if error %}
			<p><strong>Utilisateur inexistant ou mauvais de mot de passe.</strong></p>
		{% endif %}

		{% if user.is_authenticated %}
			Vous êtes connecté, {{ user.username }} !
		{% else %}
			<form method="post" action=".">
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit"/>
			</form>
		{% endif %}

		<br/>

		Nouveau sur PyTweet ? <a href="{% url "PyTweetApp.views.signup" %}">S'inscrire maintenant »</a>

	</fieldset>
</div>

{% endblock %}